.intro-about__wrapper {
    background: url("../img/about-intro-img.jpg") no-repeat center;
    background-size: cover;
    border-radius: 10px; 
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .intro-about__wrapper {
      background: url("../img/about-intro-img@2x.jpg") no-repeat center;
      background-size: cover;
    }
}
.intro-about__content {
    width: 445px;
    padding-top: 137px;
    padding-bottom: 137px;
    padding-left: 85px;
}
.intro-about__title {
    @include font;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin: 0;
}
.intro-about__descreption {
    color: #FEFCF7;
    margin: 0;
    padding-top: 24px;
}
@media screen and (max-width: $tablet) {
    .intro-about__wrapper {
        background: url("../img/about-intro-tablet.jpg") no-repeat center; 
        background-size: cover;
    }
    .intro-about__content {
        width: 398px;
        padding-top: 118px;
        padding-bottom: 118px;
        padding-left: 0;
        margin-left: 85px;
    }
    .intro-about__title {
        font-size: 32px;
        line-height: 40px;
    }
    .intro-about__descreption {
        padding-top: 24px;
        font-size: 15px;
        line-height: 25px;
    }
}
@media screen and (max-width: $mobile) {
    .intro-about__wrapper {
        background: url("../img/about-intro-mobile.jpg") no-repeat center; 
        background-size: cover;
        text-align: center;
    }
    .intro-about__content {
        width: 100%;
        padding-top: 111px;
        padding-bottom: 87px;
        margin-left: 0;
    }
    .intro-about__title {
        font-size: 28px;
        line-height: 28px;
    }
}