.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}
@media screen and (max-width: $tablet) {
    .container {
        max-width: 719px;
    }
}
@media screen and (max-width: $mobile) {
    .container {
        max-width: 327px;
    }
}
.works__container {
    width: 1075px;
    margin: 0 auto;
    padding: 0 15px;
}
@media screen and (max-width: $tablet) {
    .works__container {
        max-width: 719px;
    }
}
@media screen and (max-width: $mobile) {
    .works__container {
        max-width: 327px;
    }
}

.vce-container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
@media screen and (max-width: $tablet) {
    .vce-container {
        max-width: 719px;
    }
}
@media screen and (max-width: $mobile) {
    .vce-container {
        max-width: 327px;
    }
}