.footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #2C343E;
    padding: 48px 85px;
}
.footer__nav {
    padding-left: 102px;
}
.nav__link--white {
    transition: 100ms ease all;
}
.nav__link--white:hover {
    color: #FEFCF7;
}
.footer__nav-link {
    font-size: 12px;
    line-height: 15px;
}
.footer__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include reset-list;
    margin-left: auto;
}
.footer__item {
    margin-right: 24px;
}
.footer__item:last-child {
    margin-right: 0;
}
.footer__item-img {
    display: block;
}
@media screen and (max-width: $tablet) {
    .footer__container {
        flex-direction: column;
        padding: 54px 0;
    }
    .footer__nav {
        padding-left: 0;
    }
    .footer__nav-list {
        padding-top: 33px;
        padding-bottom: 65px;
    }
    .footer__list {
        margin-left: 0;
    }
    .footer__item {
        margin-right: 33px;
    }
}
@media screen and (max-width: $mobile) {
    .footer__nav-list {
        text-align: center;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer__nav-item {
        padding-bottom: 24px;
        margin-right: 0;

        &:last-child {
            padding-bottom: 0;
        }
    }
}