.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 44px;
}
.img {
    display: block;
}
.header__burger {
    display: none;
    cursor: pointer;
    background-color: #fff;
    border: transparent;
    margin-left: auto;
    padding: 0;
}
.header__burger-inner,
.header__burger::before,
.header__burger::after {
    content: "";
    display: block;
    width: 16px;
    height: 3px;
    background-color: #333D4B;
    border-radius: 1.5px;
    margin-bottom: 3px;
    transition: .2s ease transform;
}
.header__burger::after {
    margin-bottom: 0;   
}
.header__burger--opened .header__burger-inner {
    display: none;
}
.header__burger--opened {
    position: relative;
}
.header__burger--opened::before,
.header__burger--opened::after {
    position: absolute;
    top: 50%;
}
.header__burger--opened::after {
    transform: translate(-100%, -50%) rotate(45deg);
}
.header__burger--opened::before {
    transform: translate(-100%, -50%) rotate(-45deg);
    margin-bottom: 0;
}
.nav__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav__item {
    margin-right: 33px;
}
.nav__item:last-child {
    margin-right: 0;
}
.nav__link {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}
.nav__link--black {
    transition: 100ms ease all;
}
.nav__link--black:hover {
    color: #333D4B;
}
@media screen and (max-width: $mobile) {
    .header {
        position: relative;
    }
    .header__container {
        padding-top: 32px;
        padding-bottom: 40px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: #fff;
        }
    }
    .header__logo {
        position: relative;
        z-index: 1;
    }
    .header__burger {
        display: block;
        position: relative;
    }
    .header__nav {
        display: none;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;   
        bottom: 0;
        height: 100vh;
        z-index: 1;
        background-image: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
    }
    .header__nav--opened {
        display: block;
    }
    .nav__list {
        padding-top: 40px;
        flex-direction: column;
        text-align: center;
    }
    .nav__item {
        margin-right: 0;
        padding-bottom: 32px;
    }
    .nav__item:last-child {
        padding-bottom: 0;
    }
    .nav__link {
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
    }
}