.form__container {
    padding-top: 159px;
    padding-bottom: 168px;
}
.form__filter {
    @include flex;
}
.form__list {
    width: 255px;
    @include reset-list;
}
.form__item {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom:  2px solid rgba(131, 136, 143, 0.25  );
}
.form__item:nth-child(1) {
    padding-top: 0;
}
.form__item:last-child {
    border: none;
}
.button {
    padding: 0;
    cursor: pointer;
    border: transparent;
    color: #83888F;
    background-color: transparent;
    @include font;
}
.form__item-button {
    font-size: 24px;
    line-height: 32px;
}
.form__item-span:hover {
    color: #333D4B;
}
.form__item-span {
    padding-left: 25px;
}
.form__different {
    text-align: right;
}
.form__content {
    width: 730px;
    margin-left: 125px;
    padding-bottom: 88px;
}
.form__button {
    text-align: left;
    width: 100%;
    font-size: 40px;
    line-height: 48px;
    background-image: url("../img/open-button.svg");
    background-repeat: no-repeat;
    background-position: right;
}
.form__button--close {
    background-image: url("../img/close-button.svg");
}
.form__radios {
    display: none;
}
.form__radios--open {
    display: flex;
    padding-top: 56px;
}
.form__radios-different {
    position: relative;
    margin-right: 23px;
}
.form__radios-different:last-child {
    margin-right: 0;
}
.form__label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.form__input:checked + .form__radios-content {
    background-color: #0E8784;
    color: #fff;
}
.form__radios-content {
    text-align: center;
    padding: 32px 25px 84px 28px;
    width: 228px;
    background-color: #F4F1EB;
    border-radius: $small-radius;
    color: $dark;
}
.form__radios-different:hover .form__radios-content {
    background-color: $accent-color;
}
.form__input:checked + .form__radios-content {
    background-color: #0E8784;
    color: #fff;
}
.form__radios-title {
    @include font;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}
.form__radios-descreption {
    margin: 0;
    padding-top: 24px;
}
.form__content--black {
    text-align: left;
    background-color: #2C343E;
    border-radius: 10px;
    padding: 31px 64px;
    margin-bottom: 40px;
}
.form__content-title {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    mix-blend-mode: normal;
    margin: 0;
}
.form__content-descreption {
    @include font;
    font-size: 24px;
    line-height: 40px;
    color: #fff;
    margin: 0;
    padding-top: 8px;
}
.form__content-span {
    @include font;
    color: #0E8784;
}

@media screen and (max-width: $tablet) {
    .form__container {
        padding-top: 144px;
        padding-bottom: 144px;
    }
    .form__list {
        display: none;
    }
    .form__different {
        width: 100%;
        text-align: center;
    }
    .form__content {
        width: 100%;
        margin-left: 0;
        padding-bottom: 100px;
    }
    .form__button {
        font-size: 32px;
    }
    .form__radios--open {
        padding-top: 40px;
    }
    .form__radios-different {
        margin-right: 10px;
    }
    .form__radios-content {
        padding: 32px 20px 84px 25px;
        width: 223px;
    }
    .form__content--black {
        padding: 27px 44px;
    }
}
@media screen and (max-width: $mobile) {
    .form__container {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .form__content {
        padding-bottom: 110px;
    }
    .form__button {
        padding-right: 50px;
        font-size: 24px;
        line-height: 28px;
    }
    .form__radios--open {
        flex-direction: column;
        padding-top: 32px;
    }
    .form__radios-different {
        margin-right: 0;
        margin-bottom: 16px;
    }
    .form__radios-different:last-child {
        margin-bottom: 0;
    }
    .form__radios-content {
        width: 100%;
        text-align: left;
        padding: 24px 25px;
    }
    .form__radios-descreption {
        padding-top: 8px;
    }
    .form__content--black {
        padding: 32px 25px;
        margin-bottom: 56px;
    }
}
