.why__wrapper {
    margin-top: 300px;
    position: relative;
}
.why__wrapper::before {
    content: "";
    width: 100%;
    height: 577px;
    background-color: #2C343E;
    border-radius: 10px;
    position: absolute;
    top: -100px;
    z-index: -1;
}
.why__content {
    text-align: center;
}
.why__title {
    @include font;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin: 0;
}
.why__descreption {
    display: inline-block;
    width: 540px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 0;
    padding-top: 32px;
}
.why__list {
    @include flex;
    @include reset-list;
    padding-bottom: 200px;
    padding-top: 86px;
}
.why__item {
    text-align: center;
    width: 350px;
    background-color: #0E8784;
    border-radius: $small-radius;
    margin-right: 30px;
    padding-top: 72px;
}
.why__item:nth-child(3n),
.why__item:last-child {
    margin-right: 0;
}
.why__item-content {
    padding-top: 56px;
    padding-bottom: 48px;
}
.why__item-title {
    @include font;
    font-size: 24px;
    line-height: 32px;
    color: #FEFCF7;
    margin: 0;
}
.why__item-descreption {
    display: inline-block;
    width: 255px;
    color: #FEFCF7;
    margin: 0;
    padding-top: 24px;
}

@media screen and (max-width: $tablet) {
    .why__wrapper {
        margin-top: 200px;
    }
    .why__wrapper::before {
        height: 573px;
        top: -56px;
    }
    .why__title {
        font-size: 32px;
        line-height: 48px;
    }
    .why__descreption {
        padding-top: 24px;
    }
    .why__list {
        padding-top: 70px;
        padding-bottom: 144px;
    }
    .why__item {
        width: 573px;
        @include flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 0;
        padding-top: 0;
        margin-bottom: 24px;
        padding-left: 70px;
    }
    .why__item:last-child {
        margin-bottom: 0;
    }
    .why__item-content {
        width: 344px;
        text-align: left;
        padding-top: 41px;
        padding-bottom: 41px;
        margin-left: 55px;
    }
    .why__item-descreption {
        width: 100%;
        padding-top: 16px;
    }
}
@media screen and (max-width: $mobile) {
    .why__wrapper {
        margin-top: 184px;
    }
    .why__wrapper::before {
        height: 902px;
        top: -64px;
    }
    .why__title {
        font-size: 28px;
        line-height: 28px;
    }
    .why__descreption {
        width: 100%;
        padding: 24px 24px 0;
    } 
    .why__list {
        padding-top: 64px;
        padding-bottom: 120px;
    }
    .why__item {
        width: 279px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
        padding-left: 0;
        padding-top: 72px;
    }
    .why__item:last-child {
        margin-bottom: 0;
    }
    .why__item-content {
        width: 255px;
        text-align: center;
        padding-top: 51px;
        padding-bottom: 48px;
        margin-left: 0;
    }
    .why__item-descreption {
        width: 100%;
        padding-top: 24px;
    }
    
}